@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital@1&family=Goblin+One&family=Poppins&family=Zen+Dots&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}